/* import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ----------*** Header ***---------- */
header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 100px;
    z-index: 100;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.my-navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-branding {
    padding-right: 5vw;
}

.nav-branding img {
    width: 150px;
}

.nav-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3.5%;
    width: 100%;
    /* padding-top: 15px; */


}

.nav-menu li:last-child {
    transition: 0.7s ease;
    padding: 10px 12px;
    background-color: #409B95;
    border-radius: 10px;
}

.nav-menu li:last-child a {
    color: #ffffff;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #409B95;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
}

.flex-space {
    flex-grow: 2;
}


@media (max-width:768px) {
    header {
        padding: 0 20px;

    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -moz-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        -o-transform: translateY(-8px) rotate(-45deg);
}

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        -webkit-transition:;
        -moz-transition:;
        -ms-transition:;
        -o-transition:;
}

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* Small Screens */

@media (min-width: 768px) and (max-width: 991px) {
    header {
        padding: 0 40px;
    }


}

/* ----------*** category ***---------- */
.category {
    margin: 100px 100px;
}

.category .title {
    font-size: 1.5rem;
}

.category .sub-title {
    font-size: 0.9rem;
}

.container-cards {
    background-color: #EBF6ED;
}



/* ----------*** Footer ***---------- */

.section-footer {
    background-color: #EBF6ED;
    padding: 60px 100px 0;
}

footer {
    display: flex;
    align-items: flex-start;
}

.logo-footer img {
    width: 170px;
}

.description {
    margin: 20px 0;
    color: #717171;
    font-size: 0.9rem;
    width: 90%;
}

.social-media {
    margin-top: 15px;
}

.social-media img {
    width: 30px;
    margin-right: 10px;
}

/* links */
.my-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    width: 100%;
}

.my-links>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;

}


.my-links h2 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}

.my-links a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

footer.top {
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 20px;
}

.legal {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.legal>div:last-child {
    width: 180px;
    display: flex;
    justify-content: space-between;

}

.legal a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
}



/* Mobile */

@media (max-width: 767px) {
    .section-footer {
        padding: 60px 20px 0;
    }

    footer {
        flex-direction: column;
    }

    .my-links {
        flex-direction: column;
        margin-top: 40px;
    }

    .my-links>div {
        margin-bottom: 35px;
    }



    .legal {
        flex-direction: column;
    }

    .legal>div:last-child {
        margin-top: 10px;
    }

}

/* Small Screens */

@media (min-width: 768px) and (max-width: 991px) {
    .section-footer {
        padding: 60px 40px 0;
    }


}

/* Medium Screens */